{include file="common/header"}
{include file="common/banner"}	
<div class="container-fluid">
	<div class="row title-box">
		<div class="col-lg-12 text-center">
			<div class="title">
				<h3><strong>威海领先自家租车品牌</strong></h3>
			</div>
			<div><strong><s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>&nbsp;WEIHAI LEADING CAR RENTAL BRAND&nbsp;<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s></strong></div>
		</div>
	</div>
	<div class="row title-box">
		<div class="col-md-12 col-md-12 col-sm-12 col-xs-12 box-l">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-box">
				<div class="row row-left">
					<div class="col-lg-12"><h4>短租服务，灵活自由</h4></div>
					<div class="col-lg-12 row-title">无论您是想约会、自驾游、踏青还是商务接待...我们随时恭候您的光临，随取随还，灵活自如</div>
					<div class="col-lg-12 text-right"><img src="__INDEX__/image/jiantou.png" class="jiantou" /></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-box">
				<div class="row row-right">
					<div class="col-lg-12"><h4>超值长租，实惠便捷</h4></div>
					<div class="col-lg-12 row-title">如果您长租车，我们建议您可以尝试长租，按月起租，实惠便捷<br><br></div>
					<div class="col-lg-12 text-right"><img src="__INDEX__/image/jiantou.png" class="jiantou" /></div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 icon-car">
				<div class="text-center">
					<img src="__INDEX__/image/icon-01.png" />
					<div>100+车型</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 icon-car">
				<div class="text-center">
					<img src="__INDEX__/image/icon-02.png" />
					<div>千家网店</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 icon-car">
				<div class="text-center">
					<img src="__INDEX__/image/icon-03.png" />
					<div>100%保障</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 icon-car">
				<div class="text-center">
					<img src="__INDEX__/image/icon-04.png" />
					<div>无限里程</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid line-top">
	<div class="row title-box">
		<div class="col-lg-12 text-center bane-tit">
			<div class="title">
				<h3><strong>我们拥有丰富的车型</strong></h3>
			</div>
			<div><strong><s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>&nbsp;WE HAVE A WEALTH OF MODELS&nbsp;<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s></strong></div>
		</div>
		<div class="col-lg-12 bane">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bane-car">
				<div class="text-center">
					<img src="__INDEX__/image/ban_01.jpg" />
					<div class="col-lg-9 top-note">
						<div class="col-lg-12 text-left">
							<h4><strong>自驾出游</strong></h4>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-left title-cont">
							<strong>周末带着全家租一辆宽敞舒适的大车 别克GL8、途观、jeep等 游遍山川美景，游遍大江南北 收获满满的幸福</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bane-car">
				<div class="text-center">
					<img src="__INDEX__/image/ban_02.jpg" />
					<div class="col-lg-9 bot-note">
						<div class="col-lg-12 text-left">
							<h4><strong>情侣约会</strong></h4>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-left title-cont">
							<strong>周末和你的她出去玩？ 海边沙滩是个不错的选择， 甲壳虫、mini、samart都会为你 浪漫的约会添一抹亮色</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bane-car">
				<div class="text-center">
					<img src="__INDEX__/image/ban_03.jpg" />
					<div class="col-lg-9 top-note">
						<div class="col-lg-12 text-left">
							<h4><strong>商务接待</strong></h4>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-left title-cont">
							<strong>我们有丰富的商务车型 如奔驰、别克、宝马等 帮助您接待业务往来的客户 助您在商务洽谈中取得成功</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 bane-car">
				<div class="text-center">
					<img src="__INDEX__/image/ban_04.jpg" />
					<div class="col-lg-9 bot-note">
						<div class="col-lg-12 text-left">
							<h4><strong>体验个性</strong></h4>
						</div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-left title-cont">
							<strong>自己的车开腻了 想要尝试体验更多新鲜感 即可预定保时捷911、特斯拉、牧马人 大黄蜂等丰富车型满足你的小欲望吧</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<div class="container-fluid">
	<div class="row title-box">
		<div class="col-lg-12 text-center">
			<div class="title">
				<h3><strong>热门推荐</strong></h3>
			</div>
			<div><strong><s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s>&nbsp;POPULAR RECOMMENDATIONS&nbsp;<s>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</s></strong></div>
		</div>
	</div>
	<div class="container-fluid line-bom">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-left"><span class="addr-span">威海</span></div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right"><a href="#">更多>></a></div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_01.jpg" alt="">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_02.jpg" alt="">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_03.jpg" alt="">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_04.jpg" alt="">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_05.jpg" alt="">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 car-lis">
		<img src="__INDEX__/image/car_06.jpg" alt="">
	</div>
</div>
{include file="common/note"}		
{include file="common/footer"}	
</body>
<script src="__INDEX__/js/jquery-3.4.1-min.js" type="text/javascript" charset="utf-8"></script>
<script src="__INDEX__/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</html>
