<!DOCTYPE html>
<html class="x-admin-sm">
	<head>
		<meta charset="UTF-8">
		<title>选项管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="__PUBLIC__/css/font.css">
		<link rel="stylesheet" href="__PUBLIC__/css/xadmin.css">
		<link rel="stylesheet" href="__PUBLIC__/lib/layui/css/layui.css">
		<script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="__PUBLIC__/js/xadmin.js"></script>
		<!--[if lt IE 9]>
              <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
              <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
		<style type="text/css">
			.xing {
				color: #ee4d4d;
				font-size: 12px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body">
							<table id="task">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script>
		var table, tableIns, layer;
		layui.use(['laydate', 'form', 'table', 'layer'], function() {
			var form = layui.form;
			table = layui.table;
			layer = layui.layer;
			account_id = "{$account_id}";
			tableIns = table.render({
				elem: '#task',
				limit: 10,
				url: './accountLogList/?account_id='+account_id //数据接口
					,
				page: true //开启分页
					,
				cols: [
					[ //表头
						{
							field: 'account_code',
							title: '账号名称',
							width: '10%',
							sort: true,
							fixed: 'left',
							align: 'center'
						},{
							field: 'task_name',
							title: '任务名称',
							width: '10%',
							align: 'center'
						},{
							field: 'follows',
							title: '关注量',
							width: '7%',
							align: 'center'
						}, {
							field: 'follows_today',
							title: '今日新增',
							width: '7%',
							align: 'center'
						}, {
							field: 'fans',
							title: '粉丝量',
							width: '7%',
							align: 'center'
						}, {
							field: 'fans_today',
							title: '今日新增',
							width: '7%',
							align: 'center'
						}, {
							field: 'comments',
							title: '评论量',
							width: '7%',
							align: 'center'
						}, {
							field: 'comments_today',
							title: '今日新增',
							width: '7%',
							align: 'center'
						}, {
							field: 'replys',
							title: '回复量',
							width: '7%',
							align: 'center'
						}, {
							field: 'replys_today',
							title: '今日新增',
							width: '7%',
							align: 'center'
						}, {
							field: 'sends',
							title: '私信发送量',
							width: '7%',
							align: 'center'
						}, {
							field: 'sends_today',
							title: '今日新增',
							width: '7%',
							align: 'center'
						}, {
							field: 'task_time',
							title: '任务时间',
							width: '10%',
							align: 'center'
						}
					]
				]
			});
		});
	</script>
</html>
