<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>行业修改</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__PUBLIC__/css/font.css">
        <link rel="stylesheet" href="__PUBLIC__/css/xadmin.css">
        <script type="text/javascript" src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__PUBLIC__/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
				  <input type="hidden" value="{$Request.param.industry_id}" name="industry_id">
				  <div class="layui-form-item">
                      <label for="industry_name" class="layui-form-label">
                          <span class="x-red">*</span>请修改新名称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="industry_name" name="industry_name" required="" lay-verify="industry" value="{$industry.industry_name}"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          不超过20字符
                      </div>
                  </div>
                  
                  <div class="layui-form-item">
                      <label for="" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="edit" lay-submit>
                          确认修改
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>
			layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    industry: [/^\S{1,20}$/, '不超过20字符'],
                });
				
				$('#industry_name').select();

                //监听提交
                form.on('submit(edit)',function(data) {
                    layer.load(0);
					$.post('/index/Base/industryEditSubmit',data.field,function(j){
						layer.closeAll();
						if(j.status == 'success'){
							xadmin.close();
							window.parent.updateIndustry();
						}
						if(j.status == 'error'){
							layer.msg('修改失败',{icon:2,time:2000},function(){});
						}
					},'json');
                    return false;
                });

            });
		</script>
    </body>

</html>
