<div class="container-fluid footer">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 text-center erma">
		<img src="__INDEX__/image/erma.jpg" alt="" />
		<div class="wx"><h5>关注微信公众号</h5></div>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-3 col-xs-6 tel">
		<img src="__INDEX__/image/icon_q.png" alt="" />24小时热线
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile"><h4><strong>15662359235</h4></strong></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile"><h4><strong>18963130123</h4></strong></div>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 addr">
		<div class="name"><h4><strong>威海吉霖电子商务有限公司</strong></h4></div>
		<div class="addrs">地址：威海市环翠区渔港路-65号508室</div>
		<div class="email">邮箱：776995312@qq.com</div>
	</div>
</div>