<div class="container-fluid bom-lis">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		<div class="col-lg-12 text-center">
			<h4><strong>租车预订说明</strong></h4>
			<div class="note-item">
				<div class="lis-title-item">
					<strong>服务时间&nbsp;&nbsp;租车资格</strong>
				</div>
				<div class="lis-title-item">
					<strong>服务预订&nbsp;&nbsp;取还说明</strong>
				</div>
				<div class="lis-title-item">
					<strong>待租车况</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
		<div class="col-lg-12 text-center">
			<h4><strong>会员管理</strong></h4>
			<div class="note-item">
				<div class="lis-title-item">
					<strong>会员章程</strong>
				</div>
				<div class="lis-title-item">
					<strong>会员细则</strong>
				</div>
				<div class="lis-title-item">
					<strong>积分定级</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
		<div class="col-lg-12 text-center">
			<h4><strong>紧急事物处理</strong></h4>
			<div class="note-item">
				<div class="lis-title-item">
					<strong>保险责任</strong>
				</div>
				<div class="lis-title-item">
					<strong>事故处理</strong>
				</div>
				<div class="lis-title-item">
					<strong>理赔说明</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
		<div class="col-lg-12 text-center">
			<h4><strong>租车费用</strong></h4>
			<div class="note-item">
				<div class="lis-title-item">
					<strong>价格说明</strong>
				</div>
				<div class="lis-title-item">
					<strong>储值卡</strong>
				</div>
				<div class="lis-title-item">
					<strong>结算流程</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
		<div class="col-lg-12 text-center">
			<h4><strong>帮助中心</strong></h4>
			<div class="note-item">
				<div class="lis-title-item">
					<strong>常见问题</strong>
				</div>
				<div class="lis-title-item">
					<strong>新手上路</strong>
				</div>
				<div class="lis-title-item">
					<strong>服务规则</strong>
				</div>
			</div>
		</div>
	</div>
</div>